.cola{
    content: "";
    position: absolute;
    left: 150px;
    top: 550px;
    width: 40px;
    height: 40px;
    border-bottom: solid 8px pink;
    border-radius: 0 0 90% 0;
    transform: rotate(350deg);
    transform-origin: right 210px;
}
.cabeza{
    width: 50px;
    height: 50px;
    left: 100px;
    border-radius: 50%;
    position: absolute;
    color: rgb(179, 161, 161);
    box-shadow: 
        -30px -190px 0 0 currentColor;
}
.orejas::after {
    content: "";
    position: absolute;
    left: 75px;
    top: 80px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 
    15px 400px 0 0 rgb(179, 161, 161);
        
}
.orejas::before {
    content: "";
    position: absolute;
    left: 75px;
    top: 80px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 
    -50px 430px 0 0 rgb(179, 161, 161);    
}
.relleno::after{
    content: "";
    position: absolute;
    left: -70px;
    top: 85px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 
    165px 400px 0 0 pink;
}
.relleno::before {
    content: "";
    position: absolute;
    left: -100px;
    top: 85px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 
    130px 430px 0 0 pink;  
}
.ojos{
    width: 8px;
    height: 8px;
    left: -190px;
    top: 457px;
    border-radius: 50%;
    position: absolute;
    color: black;
    box-shadow: 
        150px 240px 0 0 currentColor,
        175px 240px 0 0 currentColor;
    
    transform: rotate(-40deg);
}
.bigote1{
        width: 8px;
        height: 6px;
        left:-170px;
        top: 462px;
        border-radius: 50%;
        position: absolute;
        color: black;
        box-shadow: 
            150px 240px 0 0 currentColor;
        transform: rotate(-40deg);
}
.bigote1::after{
    content: "";
    position: absolute;
    left: 185px;
    top: 31px;
    width: 2px;
    height: 35px;
    border-radius: 0 0 0 100%;
    transform-origin: right 210px;   
    box-shadow: 
    20px 240px 0 0 currentColor;
    transform: rotate(120deg);
    
    
}
.bigote1::before{
    content: "";
    position: absolute;
    left: 134px;
    top: 66px;
    width: 2px;
    height: 35px;
    border-radius: 0 0 0 100%;
    transform-origin: right 210px;   
    box-shadow: 
    20px 240px 0 0 currentColor;
    transform: rotate(-120deg);   
}

.bigote2::after{
    content: "";
    position: absolute;
    left: 280px;
    top: 80px;
    width: 2px;
    height: 35px;
    border-radius: 0 0 0 100%;
    transform-origin: right 210px;   
    box-shadow: 
    140px 500px 0 0 currentColor;
    transform: rotate(60deg);
    
    
}
.bigote2::before{
    content: "";
    position: absolute;
    left: 90px;
    top: 378px;
    width: 2px;
    height: 35px;
    border-radius: 0 0 0 100%;
    transform-origin: right 210px;   
    box-shadow: 
    20px 240px 0 0 currentColor;
    transform: rotate(230deg);   
}
.bigote3::after{
    content: "";
    position: absolute;
    left: 100px;
    top: 310px;
    width: 2px;
    height: 35px;
    border-radius: 0 0 0 100%;
    transform-origin: right 210px;   
    box-shadow: 
    20px 240px 0 0 currentColor;
    transform: rotate(30deg);
    
    
}
.bigote3::before{
    content: "";
    position: absolute;
    left: 78px;
    top: 367px;
    width: 2px;
    height: 35px;
    border-radius: 0 0 0 100%;
    transform-origin: right 210px;   
    box-shadow: 
    20px 240px 0 0 currentColor;
    transform: rotate(260deg);   
}
.cuerpo{
    width: 50px;
    height: 80px;
    left: 100px;
    border-radius: 50%;
    position: absolute;
    color: rgb(179, 161, 161);
    box-shadow: 
        -20px -150px 0 0 currentColor;
}
.cuerpo::before{
    content: "";
    position: absolute;
    left: -40px;
    top: -485px;
    width: 20px;
    height: 1px;
    border-bottom: solid 20px rgb(138, 121, 121);
    border-radius: 0 0 45% 45%;
    transform: rotate(180deg);
    transform-origin: right 210px;    
}
.cuerpo::after{
    content: "";
    position: absolute;
    left: -15px;
    top: -486px;
    width: 20px;
    height: 1px;
    border-bottom: solid 20px rgb(138, 121, 121);
    border-radius: 0 0 45% 45%;
    transform: rotate(180deg);
    transform-origin: right 210px;    
}
.manos::after{
    content: "";
    position: absolute;
    left: -26px;
    top: 215px;
    width: 25px;
    height: 25px;
    border-bottom: solid 20px rgb(138, 121, 121);
    border-radius: 0 0 50% 0;
    transform: rotate(160deg);
    transform-origin: right 210px;  
}
.manos::before{
    content: "";
    position: absolute;
    left: 30px;
    top: 200px;
    width: 25px;
    height: 25px;
    border-bottom: solid 20px rgb(138, 121, 121);
    border-radius: 0 0 0 50%;
    transform: rotate(160deg);
    transform-origin: right 210px;  
}